@import "common/style/variables";
@import "common/style/mixins";

.header {
  padding: 10px 0;
  background: $themeColor;

  .container {
    @include container();

    display: flex;
  }

  .header_logo {
    margin-right: 20px;
    cursor: pointer;
  }

  .header_search {
    height: 44px;
    min-width: 400px;
    padding: 8px 10px 8px 35px;
    border-radius: 6px;

    background-image: url("./assets/icon/icon_search.png");
    background-repeat: no-repeat;
    background-position: left 10px center;

    color: $textColor
  }
}

.main {
  @include container();

  padding: 40px 0;
  display: flex;
}

.user {
  width: 280px;
  margin-right: 200px;

  .user_photo {
    width: 280px;
    height: 280px;
    border-radius: 50%;
  }

  a {
    color: $themeColor;
    text-decoration: none;

    &:hover {
      opacity: .8;
    }
  }

  .user_account_followers {
    margin-top: 25px;

    display: flex;
    justify-content: space-between;

    span {
      margin-left: 10px;
    }
  }
}

.repos {
  width: calc(100% - 500px);
}

.not_found {
  height: calc(100vh - 64px - 80px);
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .not_found_title {
    width: 210px;
    font-size: 22px;
    color: $notFoundTextColor;
    text-align: center;
  }

}