@import "common/style/variables";
@import "common/style/mixins";

.header {
  padding: 10px 0;
  background: $themeColor;

  .container {
    @include container();

    display: flex;
  }

  .header_logo {
    margin-right: 20px;
    cursor: pointer;
  }

  .header_search {
    height: 44px;
    min-width: 400px;
    padding: 8px 10px 8px 44px;
    border-radius: 6px;

    background-image: url("./assets/icon/search_icon_small.png");
    background-repeat: no-repeat;
    background-position: left 10px center;
  }
}

.main {


  padding: 40px 0;
  display: flex;


  &.container {
    @include container();
  }
}

.user {
  width: 300px;
}

.repos {
  width: calc(100% - 300px);
}

.not_found {
  height: calc(100vh - 64px);
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .not_found_title {
    width: 210px;
    font-size: 22px;
    color: $notFoundTextColor;
    text-align: center;
  }
}